.grid-item {
  height: 210px;
  width: 180px;

  box-sizing: border-box;

  background: whitesmoke;
  border-radius: 4px;
  box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
  cursor: pointer;

  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.grid-item:hover {
  background-color: rgb(237, 237, 237);
}

.grid-item:active {
  background-color: rgb(231, 231, 231);
}

.img-card {
  width: 144px;
  height: auto;
}

.img-details {
  width: 260px;
  height: auto;
}

.card-checkbox {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 2;
}
