.table-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
}

.table-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  column-gap: 20px;
}

.table-header {
  text-shadow: 2px 2px 4px #00000030;
}

.item-name {
  font-weight: 500;
}

.item-desc {
  font-weight: 500;
}

.hr-header {
  display: block;
  width: 100%;
  border: none;
  height: 2px;
  background-color: rgba(40, 40, 40, 0.3);
}

.hr-item {
  display: block;
  width: 100%;
  border: none;
  height: 2px;
  background-color: rgba(30, 30, 30, 0.1);
}

.layout {
  display: flex;

  gap: 24px;

  width: 100%;

  align-items: center;
}

.grid-container {
  flex: 1;

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  gap: 24px;

  justify-content: center;
}

.grid-item {
  height: 210px;
  width: 180px;

  box-sizing: border-box;

  background: whitesmoke;
  border-radius: 4px;
  box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
  cursor: pointer;

  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.grid-item:hover {
  background-color: rgb(237, 237, 237);
}

.grid-item:active {
  background-color: rgb(231, 231, 231);
}

.details-panel {
  width: 320px;
  height: 424px;
  flex-shrink: 0;

  box-sizing: border-box;

  background: white;
  border-radius: 6px;
  box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);

  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  overflow: auto;
}

.img-card {
  width: 144px;
  height: auto;
}

.img-details {
  width: 260px;
  height: auto;
}
