.error-button {
  position: fixed;
  bottom: 42px;
  right: 42px;
    width: 140px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.3);
    outline: none;
    background-color: rgba(255, 0, 0, 0.2);
}

.error-button:hover {
    background-color: rgba(255, 0, 0, 0.3);
}
.error-button:active {
    background-color: rgba(255, 0, 0, 0.4);
}