.search-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  grid-column: 2;
}

.search-input {
  width: 240px;
  padding: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  outline: none;

  background-color: var(--card-bg);
  color: var(--text-color);
}

.search-button {
  width: 90px;
  padding: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  outline: none;

  background-color: var(--button-bg);
  color: var(--text-color);
}

.search-button:hover {
  background-color: var(--button-hover);
}

.search-button:active {
  background-color: var(--button-active, var(--button-hover));
}

.main-container {
  position: sticky;
  top: 0;

  z-index: 100;

  display: grid;
  grid-template-columns: 1fr auto 1fr;

  align-items: center;
  justify-items: center;

  width: 100%;
  padding: 10px 32px;

  box-sizing: border-box;
}

.app-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;

  justify-self: end;
}

.about-link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--text-color);
}

.search-button,
.about-link {
  height: var(--control-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.about-link {
  margin-left: 24px;
}

.switch-button,
.refresh-button {
  width: var(--control-height);
  height: var(--control-height);

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border-radius: 4px;

  box-shadow: var(--card-shadow);
  background-color: var(--button-bg);
  color: var(--text-color);

  font-size: 24px;
}
